<template>
  <div>
    <v-app-bar 
      app
      dense 
      color="#134B8A" 
      elevation=1 
      height=52 
      style="z-index: 100;">
      <!-- <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon> -->
      <img
        v-show="$vuetify.breakpoint.name === 'xs' || $vuetify.breakpoint.name === 'sm'"
        class="py-2"
        width="58" 
        height="58"  
        :src="require('@/assets/icons/logo.svg')"
        style="border-radius: 15px;"
      />
      <v-spacer />
      <img
        v-show="$vuetify.breakpoint.name === 'lg' || $vuetify.breakpoint.name === 'xl'"
        width="20" 
        height="20" 
        style="border-radius: 15px; cursor: pointer;" 
        :src="require('@/assets/icons/norti.svg')"
      />
      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <div
            class="pa-2 mx-0 ml-2"
            style="display: flex; flex-direction: row;background: transparent !important;align-items: center;"
          >
            <!-- <v-avatar
              class="mr-5"
              size="32"
              item
              rounded
            >
              <v-img
                src="https://randomuser.me/api/portraits/women/85.jpg"
              ></v-img>
            </v-avatar> -->
            <v-avatar
              size="32">
              <v-img
                lazy-src="https://randomuser.me/api/portraits/women/85.jpg"
                src="https://randomuser.me/api/portraits/women/85.jpg"
              />
            </v-avatar>
            <span 
              class="text-span-nav ml-2"
              v-show="$vuetify.breakpoint.name === 'lg' || $vuetify.breakpoint.name === 'xl'"
            >User
            </span>
            <v-btn
              v-show="$vuetify.breakpoint.name === 'lg' || $vuetify.breakpoint.name === 'xl'"
              icon
              v-bind="attrs"
              v-on="on"
            >
              <v-icon small color="#fff">mdi-chevron-down</v-icon>
            </v-btn>
          </div>
        </template>
        <v-list>
          <v-list-item
          >
            <v-list-item-title style="color: #333;">Username</v-list-item-title>
          </v-list-item>
          <v-btn text style="width: 100%;" color="#333">Sign out</v-btn>
        </v-list>
      </v-menu>
    </v-app-bar>
    <v-navigation-drawer
      app
      left
      class="nav-menu"
      width="80px"
      height="80%"
    >
      <template v-slot:prepend>
        <v-list-item two-line>
          <v-list-item-avatar>
            <img
              width="53" 
              height="53"  
              :src="require('@/assets/icons/logo.svg')"
            >
          </v-list-item-avatar>

        </v-list-item>
      </template>

      <v-divider></v-divider>

      <v-list dense>
        <v-list-item
        >

          <v-list-item-content>
            <img 
            width="36" 
            height="36" 
            :src="require('@/assets/icons/menu.svg')">
            <!-- <v-list-item-title class="mx-4">Place</v-list-item-title> -->
            <!-- <span class="text-span">Place</span> -->
          </v-list-item-content>
        </v-list-item>
        <span class="mx-6 text-span" style="color: #000000; font-weight: bold;">Place</span>
        <v-divider></v-divider>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  name: 'Navbar',
  data() {
    return {
      items: [
      { title: 'Home', icon: 'mdi-home-city' },
      { title: 'My Account', icon: 'mdi-account' },
      { title: 'Users', icon: 'mdi-account-group-outline' },
    ],
    }
  },
}
</script>

<style>
.text-span {
  font-family: 'Kanit', sans-serif !important;
  font-size: 12px;
  color: aliceblue;
}
.text-span-nav {
  font-family: 'Kanit', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.nav-menu {
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0px 50px 50px 0px;
}
  
</style>