<template>
  <!-- <hello-world /> -->
  <v-app>
    <Navbar/>
    <!-- <v-main> -->
      <v-container fluid>
        <router-view/>
      </v-container>
    <!-- </v-main> -->
  </v-app>
</template>

<script>
import Navbar from '@/components/_layout/Navbar'

  export default {
    name: 'Home',

    components: {
      // HelloWorld,
      Navbar
    },
  }
</script>