<template>
 <div class="ma-0">
   <Overview />
 </div>
</template>

<script>
import Overview from '../components/Overview'

  export default {
    name: 'Home',

    components: {
      // HelloWorld,
      Overview
    },
  }
</script>