<template>
    <v-container>
      <!-- <v-row :class="$vuetify.breakpoint.name === 'xl' ? 'mx-12' : ''" justify="center"> -->
      <v-row justify="center">
        <v-col cols="12" lg="6" xl="6" class="text-left">
          <span class="text-header">Place {{$vuetify.breakpoint.name}} {{ itemsPlaceList.length }} {{length}}</span>
        </v-col>
        <v-col cols="12" lg="3" xl="3" class="text-right d-flex">
          <v-select
            v-model="selectPlace"
            :items="itemSelectPlace"
            placeholder="Select"
            rounded
            outlined
            dense
            @change="searchSelect(selectPlace)"
          ></v-select>
          <v-divider
            v-show="$vuetify.breakpoint.name === 'lg' || $vuetify.breakpoint.name === 'xl'"
            inset
            height="5px"
            vertical 
            class="mx-2"
            style="margin-top: -5px;">
          </v-divider>
        </v-col>
        <v-col cols="12" lg="3" xl="3" class="" :style="($vuetify.breakpoint.name === 'lg' || $vuetify.breakpoint.name === 'xl') ? '' :'margin-top: -20px;'">
          <v-text-field
            v-model="searchPlace"
            outlined
            rounded
            dense
            class="centered-input text--darken-3"
            placeholder="Search name..."
            append-icon=""
            color="black"
            full-width
            @keydown="getData()"
            v-on:keyup.enter="search(searchPlace)"
          >
            <template v-slot:append>
              <div>
                  <v-icon>mdi-magnify</v-icon>
              </div>
            </template>
          </v-text-field>
        </v-col>
      </v-row>
    <v-row v-if="($vuetify.breakpoint.name === 'lg' || $vuetify.breakpoint.name === 'xl')">
      <v-col
        v-for="(item, i) in itemsPlaceList"
        :key="i"
        cols="4"
        lg="4"
        xl="4"
      >
        <v-card
        :class="$vuetify.breakpoint.name === 'lg' ? 'card-place-sm' : 'card-place'">
          <v-list-item 
            :class="$vuetify.breakpoint.name === 'xl' ? 'mx-2' : 'mx-0'">
            <div class="mt-4 mb-2">
              <v-img 
                class="" 
                width="60" 
                height="60" 
                lazy-src="https://cdn.vuetifyjs.com/images/cards/house.jpg"
                :src="item.profile_image_url" 
                style="margin-right : 0%; border-radius: 10px;"/>
            </div>
            <v-list-item-content class="ml-4">
              <v-row align="center">
                <v-col cols="12" class="mb-0">
                  <span class="text-header-card">{{ item.name }}</span>
                  <v-row class="mt-0">
                    <v-col cols="10" lg="9" xl="10" class="text-left d-flex">
                      <img
                        class="mr-1 cursor-pointer"
                        width="15"
                        height="16.67"
                        :src="require('@/assets/icons/calendar.svg')" />
                      <span class="text-time-card">{{item.operation_time[0].time_open}} AM {{item.operation_time[0].time_close}} PM</span>
                    </v-col>
                    <v-col cols="2" lg="3" xl="2" class="d-flex text-right ml-0">
                      <div class="dot mx-2 mt-1"/>
                      <span style="">{{ item.rating }}</span>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-list-item-content>
          </v-list-item>
            <v-row :class="$vuetify.breakpoint.name === 'lg' ? 'mx-4 mt-2' : $vuetify.breakpoint.name === 'xl' ? 'mx-6 mt-2' : ''">
              <!-- <v-col cols="4"> -->
                <v-card 
                  v-for="(item, i) in cards" 
                  :key="i">
                  <v-img 
                    :class="$vuetify.breakpoint.name === 'xl'
                    ? 'card-images-xl'
                    : 'card-images-sm'"
                    lazy-src="https://cdn.vuetifyjs.com/images/cards/house.jpg"
                    src="https://cdn.vuetifyjs.com/images/cards/house.jpg"
                    />
                </v-card>
              <!-- </v-col> -->
            </v-row>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-else>
      <v-card
        v-for="(item, i) in itemsPlaceList"
        :key="i"
        class="mx-auto mb-6"
        max-width="344"
        style="border-radius: 15px;"
      >
        <v-img
          src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
          height="100px"
        ></v-img>

        <v-card-title>
          <span class="text-header-card">{{ item.name }}</span>
        </v-card-title>

        <v-card-subtitle>
          <v-row style="margin-top: -25px;">
            <v-col cols="10" lg="9" xl="10" class="text-left d-flex">
              <img
                class="mr-1 cursor-pointer"
                width="15"
                height="16.67"
                :src="require('@/assets/icons/calendar.svg')" />
              <span class="text-time-card">{{item.operation_time[0].time_open}} AM {{item.operation_time[0].time_close}} PM</span>
            </v-col>
          </v-row>
          <v-row 
            class="pl-2 pr-2 pb-2"
            style="position: relative;">
            <v-carousel
              hide-delimiters
              height="200"
              style="border-radius: 10px;">
              <v-carousel-item
                v-for="(item,i) in item.images"
                :key="i"
                :src="item"
                reverse-transition="fade-transition"
                transition="fade-transition"
              ></v-carousel-item>
            </v-carousel>
          </v-row>
          <v-btn
              class="carousel-top-right"
              rounded
              color="primary"
              dark
            >
              {{item.rating}}
            </v-btn>
        </v-card-subtitle>
      </v-card>
    </v-row>
    <div v-show="itemsPlaceListFilter.length === 0">
      <h2>
        ไม่พบข้อมูล
      </h2>
    </div>
    <!-- <div
      v-show="length >4"
      class="text-center mt-4">
      <v-pagination
        v-model="page"
        :length="length"
        circle
      ></v-pagination>
    </div> -->
    </v-container>
</template>

<script>
// import swal from 'sweetalert'
const axios = require('axios')
import placeList from '@/json/placelist_data.json'
  export default {
    name: 'HelloWorld',

    data() {
      return {
        page: 1,
        startTotal: 0,
        endTotal: 12,
        length: 0,
        selectPlace: 'restaurant',
        searchPlace: '',
        itemSelectPlace: ['restaurant', 'cafe', 'bakery'],
        itemsPlaceList: placeList,
        lat: 13.779820829768585,
        lng: 100.54464812602707,
        radius: 5,
        api: 'https://www.googleapis.com',
        apiKey: 'AIzaSyAck-NI7QTHHm0rHBdXaUVIh1tqxWCJvm4',
        cards: [
          { 
            title: 'Pre-fab homes',
            src: 'https://cdn.vuetifyjs.com/images/cards/house.jpg',
            images: ['https://cdn.vuetifyjs.com/images/cards/house.jpg','https://cdn.vuetifyjs.com/images/cards/house.jpg','https://cdn.vuetifyjs.com/images/cards/house.jpg']
          },
          { title: 'Favorite road trips', src: 'https://cdn.vuetifyjs.com/images/cards/road.jpg'},
          { title: 'Best airlines', src: 'https://cdn.vuetifyjs.com/images/cards/plane.jpg'},
        ],
        itemsCollection: []
      }
    },
    async created () {
      this.getData()
      // await this.getDataPlaceTest()
    },
    watch: {
      searchPlace(val) {
        if(val === '' && this.selectPlace === '') return this.getData
      }
    },
    computed: {
      // some(e => e._id === el._id)
      itemsPlaceListFilter () {
      const searchValue = this.searchPlace;
      const filterValue = this.itemsPlaceList.filter(e => e.name.toUpperCase().match(searchValue.toUpperCase()))
      if (searchValue === '') {
        return this.itemsPlaceList
      } else {
        return filterValue
      }
    }
    },
    methods: {
      changePage(page, startTotal, endTotal) {
        console.log('date',page, startTotal, endTotal);
        // this.page = this.page + page
        this.startTotal = endTotal + 4
        this.endTotal = this.startTotal + 4
      },
      formatDate (val) {
        const now = new Date().toLocaleDateString('en-us', { weekday:"long"});
        console.log('Date', now, val);
      },
      async getDataPlace () {
        // const temp = []
        await axios({
          method: 'GET',
          url: `https://maps.googleapis.com/maps/api/place/nearbysearch/json?
          keyword=${''}
          &location=${this.lat},${this.lng}
          &radius=${this.radius * 1000}
          &type=${'cafe'}
          &key=${this.apiKey}`,
          // url: `https://www.googleapis.com/books/v1/volumes?q=flowers+intitle`
          headers: { }
        }).then((response) => {
            console.log('listtt', response.data)
        }).catch(e => {
          console.log(e)
        })
      },
      getData () {
        const temp = []
        const now = new Date().toLocaleDateString('en-us', { weekday:"long"});
        // console.log('che', checkDate);
        console.log('now', now);
        placeList.map((el) => {
          // const checkDate = placeList.operation_time
          temp.push({
            // dateCurrent: checkDate.some(e => e.operation_time.day === now),
            ...el
          })
        })
        console.log('temp', temp);
        this.itemsPlaceList = placeList
        this.length = this.itemsPlaceList.length/4
        console.log('data', this.itemsPlaceList);
        this.searchSelect(this.selectPlace)
        this.search(this.searchPlace)
      },
      searchSelect (val) {
        console.log('select', val);
        if (val !== '') {
          // const itemSearch = this.itemsPlaceList.filter((e) => e.categories.includes(val))
          const itemSearch = this.itemsPlaceList.filter((e) => e.categories.some(e => e === val))
          this.itemsPlaceList = itemSearch
          this.length = this.itemsPlaceList.length/4
          console.log('data select', itemSearch);
        }
      },
      search (val) {
        if (val !== '') {
          const itemSearch = this.itemsPlaceList.filter((e) => e.name === val)
          this.itemsPlaceList = itemSearch
          this.length = this.itemsPlaceList.length/4
        }
        this.length = this.itemsPlaceList.length/4
      },
      getDataSelect () {

      }
    }
  }
</script>

<style scoped>
.text-header {
  font-family: 'Kanit', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 133.4%;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.v-text-field--outlined >>> fieldset {
  border-color: #134B8A;
}

.card-place-sm {
  width: 400px;
  height: 225px;
  background: #FFFFFF;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.card-place {
  height: 315px;
  background: #FFFFFF;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.text-header-card {
  font-family: 'Kanit', sans-serif !important;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}
.text-time-card {
  font-family: 'Kanit', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.card-images-sm {
  width: 112px;
  height: 118px;
}
.card-images-xl {
  width: 173px;
  height: 200px;
}
.dot {
  border-radius: 10px;
  background-color: #134B8A;
  /* position: absolute; */
  /* top: 5px;
  left: 380px; */
  top: 5px;
  width: 11px;
  height: 11px;
  /* right: -4px; */
}
.carousel-top-right {
  position: absolute;
  top: 85px;
  right: 15px;
  /* left: 200; */
  width: 67px;
  height: 31px;
  /* border: 1px solid #73AD21; */
}
.text-div-carousel {
  font-family: 'Kanit', sans-serif !important;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  /* identical to box height, or 162% */

  text-transform: uppercase;

  color: #FFFFFF;
}
.div-top-right {
  width: 67px;
  height: 31px;
  right: 15px;
  top: 85px;

  background: #134B8A;
  border-radius: 30px;
}
</style>
