// $font-family: 'Kanit';

// .v-application {
//   [class*='text-'] {
//     color: #36405a;
//     font-family: $font-family, sans-serif !important;
//   }
//   font-family: $font-family, sans-serif !important;
// }